
{% extends 'base.html' %} 
{% load humanize %}

{% block meta %}
    <title>Tipsen | Home</title>
{% endblock meta %} 

{% block content %}
 

  <section class="w-full h-[35vh] flex flex-col justify-start items-center">
    <div class="w-4/5 items-start justify-start pb-3">

        <form class="form-control w-[40vw]" method="GET" action="{% url 'home' %}">
            <input type="text" placeholder="Search" name="query" class="input input-bordered input-accent w-24 md:w-auto " value="{{ request.GET.query }}"/>
        </form>
        {% if not request.GET.query %}
        <div class="w-full py-2">
            <img class="object-contain w-full rounded-lg shadow-lg" src="https://hvrgaqmrzkjidxhppsjj.supabase.co/storage/v1/object/public/assets/Screenshot%202023-12-10%20at%2019-26-34%20Design%20Maker%20Designs.AI.png" alt="banner">
        </div>
        {% endif %}
    </div>
    
    <section class="w-full my-4 flex flex-col items-center justify-start">
        <section class="w-11/12 grid grid-cols-5 gap-x-8  gap-y-4 px-2">
            {% for product_ in products %}
                <a class="bg-white rounded-md max-w-xl  hover:cursor-pointer hover:border-2 hover:border-blue-400 transition-all duration-100" href="{% url 'product' product_id=product_.id %}">
                    <div class="w-full h-4/5 h-[280px] border-b border-gray-300 overflow-hidden">

                        <img src="{{product_.image_link}}" alt="{{product_.name}}" class="w-full object-cover h-[280px] rounded-t-md"/>
                    </div>
                    <div class="w-full flex flex-col p-2 py-2">

                        <p class="text-gray-700 font-semibold text-[16px]">{{ product_.name }}</p>
                        
                          
                        <p class="text-black font-semibold text-[15px]">Rp {{ product_.price|intcomma }}</p>
                    </div>
                </a>
            {% endfor %}
        </section>
        {% if products|length <= 0 %}
        <section class='w-full h-[50vh] flex items-center justify-center'>
            <h2 class="text-5xl font-bold text-gray-200">
                Produk tidak ditemukan
            </h2>
        </section>  
        {% endif %}
    </section>
  </section>
{% endblock content %}