{% extends 'base.html' %}

{% block meta %}
    <title>Your Profile</title>
{% endblock meta %} 

{% block content %}
<main class="flex flex-row items-start justify-start px-8 gap-x-20">
    <div class="bg-white w-[40vw] shadow overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
            <h3 class="text-2xl leading-6 font-medium text-gray-900">
                Your Profile
            </h3>
        </div>
        <div class="border-t border-gray-200">
            <dl>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-500">
                        Full name
                    </dt>
                    <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ user.profile.fullname }}
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-500">
                        username
                    </dt>
                    <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ user.auth.username }}
                    </dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-500">
                        Email
                    </dt>
                    <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ user.auth.email }}
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-lg font-medium text-gray-500">
                        birthdate
                    </dt>
                    <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ user.profile.birthdate }}
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="flex flex-col items-center justify-start gap-y-2">
        <h3 class="text-4xl font-semibold text-white-100">
           Daftar Alamat
        </h3>
        {% if success %}
        <div class="w-full sm:max-w-md p-6 mb-4 rounded-md bg-emerald-500 font-semibold text-gray-700 text-[16px]">
            {{ message }}
        </div>
        {% endif %}
        {% if addresses|length > 0 %}

        {% for address in addresses %}
        <div class="relative border-2 border-gray-300 shadow-md rounded-md p-4 flex flex-col w-[30vw] bg-gray-100 text-gray-700">
            <div class="flex items-center gap-x-1 absolute right-3 top-3">
                <a class="p-2 rounded-md bg-blue-500" href="{% url 'update_address' address.id %}">edit</a>
                <a class="p-2 rounded-md bg-red-500" href="{% url 'delete_address' address.id %}">delete</a>

            </div>
            <p> {{ address.receiver_name }}</p>
            <p> {{ address.address }}</p>
            <p> {{ address.city }}, {{ address.postal_code }}</p>
            <p> {{ address.phone_number }}</p>
            
        </div>
        {% endfor %}
        {% if addresses|length < 3 %}
        <a class="btn bg-blue-500" href="{% url 'create_address' %}"> Tambah Alamat</a>
        {% endif %}
        {% else %}

        <h3 class="text-[18px] font-semibold text-white">
            Anda belum memiliki alamat
        </h3>

        <a class="btn bg-blue-500 text-white" href="{% url 'create_address' %}"> Buat Alamat</a>
        {% endif %}
    </div>
</main>
{% endblock content %}