{% extends 'base.html' %}

{% block meta %}
<title>TipSen | Sign Up</title>
{% endblock meta %}

{% block content %}

<section>
    <div class="flex flex-col items-center px-6 py-8 mx-auto py-36">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
            Signup
        </a>
        {% if success %}
        <div class="w-full sm:max-w-md p-6 mb-4 rounded-md bg-emerald-500 font-semibold text-gray-700 text-[16px]">
            Your account has been created
        </div>
        <script>
            function redirect() {
                window.location.href = '/authentication/login'
            }
            setTimeout(
                redirect
                , 2000)

        </script>
        {% endif %}
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <form class="space-y-4 md:space-y-6 text-[16px]" method="POST">
                    {% csrf_token %}
                    <div>
                        <label for="fullname"
                            class="block mb-2  font-medium text-gray-900 dark:text-white">Fullname</label>
                        <input type="text" name="fullname" id="fullname"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm: rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="NeoZap" required="">
                    </div>
                    <div>
                        <label for="username"
                            class="block mb-2  font-medium text-gray-900 dark:text-white">username</label>
                        <input type="username" name="username" id="username"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm: rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="NeoZap" required="">
                    </div>
                    <div>
                        <label for="email" class="block mb-2  font-medium text-gray-900 dark:text-white">email</label>
                        <input type="email" name="email" id="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm: rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="name@company.com" required="">
                    </div>
                    <div>
                        <label for="birthdate" class="block mb-2  font-medium text-gray-900 dark:text-white">Date of
                            Birth</label>
                        <input type="date" name="birthdate" id="birthdate"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm: rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="name@company.com" required="">
                    </div>
                    <div>
                        <label for="password1"
                            class="block mb-2  font-medium text-gray-900 dark:text-white">Password</label>
                        <input type="password" name="password1" id="password1" placeholder="••••••••"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm: rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            required="">
                    </div>
                    <div>
                        <label for="password2" class="block mb-2  font-medium text-gray-900 dark:text-white">Password
                            Confirmation</label>
                        <input type="password" name="password2" id="password2" placeholder="••••••••"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm: rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            required="">
                    </div>
                    <ul>
                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <li>
                            <div class="text-red-500 font-semibold text-[12px]">{{ error|escape }}</div>
                        </li>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <li>
                            <div class="text-red-500 font-semibold text-[12px]">{{ error|escape }}</div>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                    <button type="submit"
                        class="w-full text-white bg-indigo-600 font-semibold hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg px-5 py-2.5 text-center">Sign
                        up</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}