{% extends 'base.html' %}

{% block meta %}
<title>
    Tipsen | Pesanan Khusus
</title>
{% endblock meta %}

{% block content %}
<section class="my-5 mx-4 content-center">
<table class="table-auto bg-gray-700 text-center">
    <thead>
        <tr>
            <td scope="col" class="px-5 py-2">Timestamp</td>
            <td scope="col" class="px-5 py-2">Payment No.</td>
            <td scope="col" class="px-5 py-2">User</td>
            <td scope="col" class="px-5 py-2">Alamat</td>
            <td scope="col" class="px-5 py-2">Produk</td>
            <td scope="col" class="px-5 py-2">Qty.</td>
            <td scope="col" class="px-5 py-2">Subtotal</td>
            <td scope="col" class="px-5 py-2">Status</td>
            <td scope="col" class="px-5 py-2">Desc.</td>
        </tr>
    </thead>
    <tbody>
        {% for o in orders %}
        <tr {% if o.is_special_request %} class="bg-gray-800" {% endif %}>
            <td scope="col" class="px-5 py-2">{{o.timestamp}}</td>
            <td scope="col" class="px-5 py-2">{{o.payment.payment_reference_number}}</td>
            <td scope="col" class="px-5 py-2">{{o.user.username}}</td>
            <td scope="col" class="px-5 py-2">{{o.address.address}}</td>
            <td scope="col" class="px-5 py-2">{{o.product.name}}</td>
            <td scope="col" class="px-5 py-2">{{o.quantity}}</td>
            <td scope="col" class="px-5 py-2">{{o.subtotal}}</td>
            <td scope="col" class="px-5 py-2">
                <label for="update-status-{{o.id}}">{{o.status.status}} ▼</label>
                <input type="checkbox" id="update-status-{{o.id}}" class="modal-toggle" />
                <div class="modal" role="dialog">
                    <div class="modal-box">
                        <h3 class="font-bold text-lg">Update Status</h3>
                        <form method="POST" enctype="multipart/form-data" action="{% url 'update_order_status' o.id %}">
                            {% csrf_token %}
                            <label for="status" class="py-4">Change status of order {{o.id}} to </label>
                            <select id="status" name="status">
                                <option value=1>Menunggu Verifikasi</option>
                                <option value=2>Sedang Diproses</option>
                                <option value=3>Dalam Pengiriman</option>
                                <option value=4>Selesai</option>
                                <option value=5>Ditolak</option>
                            </select>
                            <button type="submit" class="btn bg-gray-700">Submit</button>
                        </form>
                        <div class="modal-action">
                            <label for="update-status-{{o.id}}" class="btn">Cancel</label>
                        </div>
                    </div>
                </div>
            </td>
            {% if o.description %}
            <td scope="col" class="px-5 py-2" title="{{o.description}}">🔍</td>
            {% else %}
            <td scope="col" class="px-5 py-2">
                <label for="add-desc-{{o.id}}">➕</label>
                <input type="checkbox" id="add-desc-{{o.id}}" class="modal-toggle" />
                <div class="modal" role="dialog">
                <div class="modal-box">
                    <h3 class="font-bold text-lg">Add Description</h3>
                    <form method="POST" enctype="multipart/form-data" action="{% url 'add_order_description' o.id %}">
                        {% csrf_token %}
                        <label for="status" class="py-4">Add description of order {{o.id}} as </label>
                        <textarea id="description" name="description" cols="30" rows="5">Sample Description</textarea>
                        <button type="submit" class="btn bg-gray-700">Submit</button>
                    </form>
                    <div class="modal-action">
                        <label for="add-desc-{{o.id}}" class="btn">Cancel</label>
                    </div>
                </div>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</section>
{% endblock content %}