{% extends 'base.html'%}
{% load humanize %}

{% block meta %}
<title> Pesanan Saya</title>
{% endblock meta %}

{% block content %}
<main class="w-screen flex items-start justify-center">
    <section class="w-4/5 mt-10 flex flex-col items-start justify-start">
        <h1 class="text-gray-100 text-4xl font-semibold">
            Riwayat Pesanan
        </h1>
        {% if orders|length > 0%}
        <div class="w-full mt-4 flex flex-col justify-start gap-y-3">
            {% for order in orders %}
            <a class="w-full p-4 rounded-lg border border-blue-600 flex flex-col items-start cursor-pointer">
                <div
                    class="w-full pb-2 flex justify-between text-gray-100 font-semibold text-[16px] border-b border-gray-400">
                    <p>Order <span class="font-normal">{{order.id}}</span></p>
                    <p class="p-2 rounded-md bg-blue-500">{{order.status.status}}</p>
                </div>
                <div class="flex items-start gap-x-3 mt-3">
                    <img class="rounded-md w-28 h-28 object-contain " src="{{order.product.image_link}}"
                        alt="{{order.product.name}}" />
                    <div class="flex flex-col h-full items-start justify-between text-gray-100 text-[24px]">
                        <p>{{order.product.name}}</p>
                        <p>Rp {{order.subtotal|intcomma}}</p>
                    </div>
                </div>

            </a>
            {% endfor %}

        </div>
        {% else %}
        <section class='w-full h-[40vh] flex flex-col items-center justify-center gap-y-5'>
            <h2 class="text-5xl font-bold text-gray-200">
                Anda belum memiliki Riwayat pesanan
            </h2>

            <a class="p-4 rounded-md bg-indigo-500 text-gray-100 hover:bg-indigo-600 transition-all duration-100" href="{% url 'home' %}"> Belanja Sekarang</a>
        </section>  
        {% endif %}

    </section>

</main>
{% endblock content%}